version: '3.9'

services:
  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:5000  # Docker network URL for backend
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend_c
    ports:
      - "5000:5000"
    stdin_open: true
    tty: true
    environment:
      - MONGO_URL=mongodb://mongo:27017/devopsdb
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo_c
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
