.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background-color: #0f172a;
}

.nav-logo {
  color: #38bdf8;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links button {
  background: none;
  border: none;
  color: #e5e7eb;
  font-size: 15px;
  cursor: pointer;
  padding: 6px 10px;
  transition: 0.3s;
}

.nav-links button:hover {
  color: #38bdf8;
}

.logout-btn {
  color: #f87171;
}

.logout-btn:hover {
  color: #ef4444;
}
